Repository KEA-ChunSam/PlayUs-twp-service, pull requests merged in 2025-05, with the labels that each got.

#15 chore : 이슈 생성 타입 Story/Subtask 체계에서 Task만 만들어지도록 변경
  .github/workflows/create-jira-chore-issue.yml
  .github/workflows/create-jira-feat-issue.yml
  .github/workflows/create-jira-fix-issue.yml
  .github/workflows/create-jira-performance-issue.yml
  .github/workflows/create-jira-refactor-issue.yml
Labels: ⚙️ chore

#17 CS-217 refactor/에러 발생 시 ErrorResponse 클래스 통해 반환하도록 리팩토링
  .github/ISSUE_TEMPLATE/chore-issue-form.yml
  .github/ISSUE_TEMPLATE/feat-issue-form.yml
  .github/ISSUE_TEMPLATE/fix-issue-form.yml
  .github/ISSUE_TEMPLATE/performance-issue-form.yml
  .github/ISSUE_TEMPLATE/refactor-issue-form.yml
  src/main/java/com/playus/twpservice/global/GlobalControllerAdvice.java
  src/main/java/com/playus/twpservice/global/response/ErrorResponse.java
  src/test/java/com/playus/twpservice/domain/party/controller/PartyControllerTest.java
Labels: ⚙️ chore

#26 Cs 246 chore/sentry 도입
  build.gradle
  src/main/java/com/playus/twpservice/domain/common/Describable.java
  src/main/java/com/playus/twpservice/domain/party/enums/PartyAgeGroup.java
  src/main/java/com/playus/twpservice/domain/party/enums/PartyGender.java
  src/main/java/com/playus/twpservice/domain/party/enums/PartyJoinMethod.java
  src/main/java/com/playus/twpservice/global/config/data/AuditingConfig.java
  src/main/java/com/playus/twpservice/global/config/data/jpa/JpaConfig.java
  src/main/java/com/playus/twpservice/global/config/data/mongodb/ChatMongoConfig.java
  src/main/java/com/playus/twpservice/global/config/data/mongodb/MongoConfig.java
  src/main/java/com/playus/twpservice/global/config/data/mongodb/ReadMongoConfig.java
  src/main/java/com/playus/twpservice/global/config/data/redis/RedisConfig.java
  src/main/java/com/playus/twpservice/global/config/security/CorsConfig.java
  src/main/java/com/playus/twpservice/global/config/security/SecurityConfig.java
  src/main/java/com/playus/twpservice/global/config/sentry/SentryConfig.java
  src/main/java/com/playus/twpservice/global/config/swagger/SwaggerConfig.java
  src/main/java/com/playus/twpservice/global/exception/ExceptionAdvice.java
  src/main/java/com/playus/twpservice/global/validation/ValidEnum.java
  src/main/java/com/playus/twpservice/global/validation/ValidEnumList.java
  src/main/java/com/playus/twpservice/global/validation/ValidEnumListValidator.java
  src/main/java/com/playus/twpservice/global/validation/ValidEnumValidator.java
  src/main/resources/application-dev.yaml
  src/main/resources/application-local.yaml
  src/main/resources/application-prod.yaml
  src/main/resources/logback-spring.xml
Labels: ⚙️ chore, 예찬

#33 CS-265 feat/직관팟 삭제
  src/main/java/com/playus/twpservice/TwpServiceApplication.java
  src/main/java/com/playus/twpservice/domain/chat/entity/ChatMessage.java
  src/main/java/com/playus/twpservice/domain/chat/entity/ChatPart.java
  src/main/java/com/playus/twpservice/domain/chat/entity/ChatRoom.java
  src/main/java/com/playus/twpservice/domain/chat/repository/ChatMessageRepository.java
  src/main/java/com/playus/twpservice/domain/chat/repository/ChatPartRepository.java
  src/main/java/com/playus/twpservice/domain/chat/repository/ChatRoomRepository.java
  src/main/java/com/playus/twpservice/domain/common/BaseMongoRepository.java
  src/main/java/com/playus/twpservice/domain/common/PartyIdRequest.java
  src/main/java/com/playus/twpservice/domain/party/controller/PartyController.java
  src/main/java/com/playus/twpservice/domain/party/document/PartyAgeDocument.java
  src/main/java/com/playus/twpservice/domain/party/document/PartyDocument.java
  src/main/java/com/playus/twpservice/domain/party/document/PartyJoinDocument.java
  src/main/java/com/playus/twpservice/domain/party/document/PartyThumbnailUrlDocument.java
  src/main/java/com/playus/twpservice/domain/party/dto/partydelete/PartyDeleteResponse.java
  src/main/java/com/playus/twpservice/domain/party/entity/Party.java
  src/main/java/com/playus/twpservice/domain/party/entity/PartyAge.java
  src/main/java/com/playus/twpservice/domain/party/entity/PartyJoin.java
  src/main/java/com/playus/twpservice/domain/party/entity/PartyThumbnailUrl.java
  src/main/java/com/playus/twpservice/domain/party/repository/read/PartyAgeReadOnlyRepository.java
  src/main/java/com/playus/twpservice/domain/party/repository/read/PartyJoinReadOnlyRepository.java
  src/main/java/com/playus/twpservice/domain/party/repository/read/PartyReadOnlyRepository.java
  src/main/java/com/playus/twpservice/domain/party/repository/read/PartyThumbnailUrlReadOnlyRepository.java
  src/main/java/com/playus/twpservice/domain/party/repository/write/PartyAgeRepository.java
  src/main/java/com/playus/twpservice/domain/party/repository/write/PartyJoinRepository.java
  src/main/java/com/playus/twpservice/domain/party/repository/write/PartyThumbnailUrlRepository.java
  src/main/java/com/playus/twpservice/domain/party/service/PartyService.java
  src/main/java/com/playus/twpservice/domain/party/specification/PartyControllerSpecification.java
  src/main/java/com/playus/twpservice/global/s3/S3PresignedUrlGenerator.java
  src/main/java/com/playus/twpservice/global/s3/S3Service.java
  src/main/java/com/playus/twpservice/global/scheduler/DeletePartyThumbnailScheduler.java
  src/main/resources/application-local.yaml
  src/test/java/com/playus/twpservice/IntegrationTestSupport.java
  src/test/java/com/playus/twpservice/domain/chat/repository/ChatPartRepositoryTest.java
  src/test/java/com/playus/twpservice/domain/party/controller/PartyControllerTest.java
  src/test/java/com/playus/twpservice/domain/party/repository/read/PartyReadOnlyRepositoryTest.java
  src/test/java/com/playus/twpservice/domain/party/repository/write/PartyJoinRepositoryTest.java
  src/test/java/com/playus/twpservice/domain/party/repository/write/PartyThumbnailUrlRepositoryTest.java
  src/test/java/com/playus/twpservice/domain/party/service/PartyReadOnlyServiceTest.java
  src/test/java/com/playus/twpservice/domain/party/service/PartyServiceTest.java
Labels: ✨ feature, 현우
